In [2]:
!pip install Django
!pip install numpy

Requirement already satisfied: Django in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (4.1.3)
Requirement already satisfied: asgiref<4,>=3.5.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from Django) (3.5.2)
Requirement already satisfied: sqlparse>=0.2.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from Django) (0.4.3)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: numpy in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (1.24.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [3]:
%pip install pandas

Requirement already satisfied: pandas in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (2.0.0)
Requirement already satisfied: tzdata>=2022.1 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import os
import django
import pandas as pd
import numpy as np

In [5]:
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "e_library.settings")
django.setup()

In [6]:
from books.models import Pdf_Info, Review, Genre
from auth_users.models import Profile
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
from asgiref.sync import sync_to_async

@sync_to_async
def get_books():
    return list(Pdf_Info.objects.all().values())

books = await get_books()
df_books = pd.DataFrame(books)
df_books.head()

,id,genre_id,title,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,C Programming,Grege Perry and Dean Miller,qomxczekkyaob,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,_C_Programming,2006,book/Cover_Letter_gb23EZr.pdf,False
1,2,2,Database Management Systems(A Practical Approach),Dr.Rajiv Chopra,ZDmqrBT1UVqSk,KCT pvt Ltd,book_image/1.jpeg,Database Management Systems (DBMS) is a must f...,Database_Management_Systems_A_Practical_Approach,,book/d1.pdf,False
2,3,2,Database Management System(IV Semester Compute...,"Safa Hamdare, Bhavesh Panday",pOorZOTWq54QU,KCT pvt Ltd,book_image/2.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System_IV_Semester_Compute...,2006,book/d2.pdf,False
3,4,2,Database Management System (Schaum's Outline),"Ramon A Mata-Toledo, Pauline K Cushman",1fT2cxJ0j3vtJ,KCT pvt Ltd,book_image/3.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System_Schaums_Outline,,book/d3.pdf,False
4,5,2,Database Management System(Ashirwad's),"Arihant Khicha, Neti Kapoor",mSxc9tDrBfZwS,#######,book_image/5.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System_Ashirwads,,book/d5.pdf,False

In [8]:
from asgiref.sync import sync_to_async

@sync_to_async
def get_users():
    return list(Profile.objects.all().values())

users = await get_users()
df_users = pd.DataFrame(users)
df_users.head()

,id,user_id,avatar,city,zone,contact_no,tole,bio
0,1,1,profile_image/IMG_9832.JPG,Ramechhap,janakpur,4444444444,doramba,ksdlfjslkdjflks
1,2,2,profile_image/IMG_9829.JPG,Bhaktapur,Bagmati,5555555555,chamashying,dream big act bigger
2,3,3,default.png,,,,,
3,4,4,profile_image/images.jpeg,,,,,
4,5,5,default.png,,,,,

In [9]:
@sync_to_async
def get_reviews():
    return list(Review.objects.all().values())

reviews = await get_reviews()
df_reviews = pd.DataFrame(reviews)
df_reviews.head()

,id,book_id,rating,created_by_id,content,created_at,isbn
0,1,1,1,1,Poor Explanation,2023-04-21 07:52:42.216176+00:00,qomxczekkyaob
1,2,2,3,1,nice!!!!,2023-04-21 09:58:56.222078+00:00,ZDmqrBT1UVqSk
2,3,9,5,1,Excellent,2023-04-21 09:59:35.827144+00:00,cC0xxwjT4qqCB
3,4,10,4,1,Good book,2023-04-21 09:59:57.790780+00:00,rljZ8Fo4hg3ub
4,5,11,4,1,Excellent!!!!!!!,2023-04-21 10:00:15.205738+00:00,5v1XaatHeJ83j

In [10]:
@sync_to_async
def get_reviews():
    return list(Genre.objects.all().values())

genre = await get_reviews()
df_genre = pd.DataFrame(genre)
df_genre.head()

   id                               name         slug
0   1                        Programming  Programming
1   2                Database Management     Database
2   3  Network and System Administration   Networking
3   4                             Others       Others
4   5                            English      English

In [11]:
ratings_with_name = df_reviews.merge(df_books, on = 'isbn')

In [12]:
# merge books dataframe with genre dataframe
# books_with_genre = df_genre.merge(df_books)
# books_with_genre.head()

In [13]:
#those users who have rated more than 10 books
x = ratings_with_name.groupby('created_by_id').count()['rating'] > 10
read_users = x[x].index
read_users

Index([1, 2, 3, 4, 5, 6, 8, 9, 10, 13], dtype='int64', name='created_by_id')

In [14]:
#filtered on the basis of rating
filtered_rating = ratings_with_name[ratings_with_name['created_by_id'].isin(read_users)]

In [15]:
#those books that have at least 5 number of rating
y = filtered_rating.groupby('title').count()['rating'] >= 5
famous_books = y[y].index

In [16]:
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_books)]

In [17]:
pt = final_ratings.pivot_table(index = 'title', columns = 'created_by_id', values = 'rating')
pt

created_by_id,1,2,3,4,5,6,8,9,10,13
title,,,,,,,,,,
A Text Book of Computer Networks,NaN,NaN,NaN,NaN,3.0,3.0,5.0,3.0,NaN,3.0
Black Hat Python( Python Programming for Hackers and Pentesters),2.0,NaN,NaN,NaN,3.0,3.0,NaN,3.0,3.0,3.0
C Programming,1.0,5.0,3.0,4.0,1.0,NaN,NaN,3.0,NaN,NaN
C Programming An Introduction,4.0,5.0,2.0,3.0,5.0,3.0,1.0,NaN,NaN,NaN
C Programming With Arduino,3.0,5.0,4.0,2.0,3.0,3.0,NaN,NaN,3.0,NaN
Computer Networking (Top Down Approach),NaN,5.0,NaN,4.0,3.0,NaN,3.0,NaN,NaN,3.0
Computer Networking Beginner Guide,2.0,NaN,NaN,NaN,3.0,3.0,5.0,NaN,NaN,3.0
Computer Networking Beginners Guide,NaN,2.0,NaN,4.0,NaN,4.0,NaN,3.0,3.0,3.0
Computer Networks,NaN,4.0,NaN,NaN,3.0,3.0,2.0,4.0,NaN,3.0
Database Management System(For Madras University),NaN,NaN,3.0,5.0,2.0,3.0,NaN,4.0,NaN,NaN
Database Management System(IV Semester Computer Engineering),NaN,NaN,3.0,5.0,4.0,3.0,4.0,3.0,NaN,NaN
Database Management Systems(A Practical Approach),3.0,5.0,3.0,3.0,4.0,4.0,3.0,NaN,NaN,NaN
English,5.0,3.0,NaN,3.0,3.0,4.0,3.0,4.0,NaN,4.0
Fundamentals of Computer Networks,NaN,NaN,NaN,NaN,3.0,5.0,NaN,4.0,3.0,3.0
Introduction to Database Management System,5.0,3.0,4.0,4.0,5.0,3.0,5.0,NaN,NaN,NaN
Java Programming Beginner Guide,3.0,5.0,4.0,5.0,5.0,3.0,NaN,NaN,NaN,NaN
Java Programming Language,2.0,3.0,5.0,3.0,5.0,NaN,NaN,3.0,NaN,NaN
JavaScript Programming Language,4.0,4.0,NaN,3.0,NaN,NaN,4.0,5.0,3.0,NaN
Robort Programming (ROS),2.0,3.0,5.0,5.0,3.0,4.0,NaN,5.0,4.0,NaN
The C Programming Language,4.0,3.0,2.0,4.0,3.0,3.0,NaN,3.0,NaN,NaN
The Complete Reference,3.0,NaN,NaN,4.0,NaN,NaN,NaN,5.0,3.0,3.0
abc,3.0,5.0,3.0,3.0,5.0,4.0,4.0,5.0,5.0,5.0

In [18]:
pt.fillna(0, inplace = True)

In [19]:
similarity_scores = cosine_similarity(pt)

In [20]:
similarity_scores[0]

array([1.        , 0.65847538, 0.19672131, 0.39358458, 0.25607376,
       0.51238283, 0.88970168, 0.48393392, 0.7904254 , 0.43554053,
       0.69849845, 0.51779543, 0.73582253, 0.69870386, 0.56114637,
       0.29432901, 0.34143168, 0.46976692, 0.40582867, 0.40741086,
       0.37264206, 0.72680331])

In [21]:
# def recommend(book_name):
#     # Fetch index of searched book
#     index = np.where(pt.index==book_name)[0][0]
    
#     # Get similarity scores for all books
#     similarity_scores = cosine_similarity(pt)
    
#     # Get indices of similar books with same genre
#     similar_items = []
#     for i in range(similarity_scores.shape[0]):
#         # Check if book has same genre as searched book
#         if df_books.loc[df_books['title'] == pt.index[i], 'genre_id'].iloc[0] == df_books.loc[df_books['title'] == book_name, 'genre_id'].iloc[0]:
#             # Append index and similarity score to list
#             if i != index:
#                 similar_items.append((i, similarity_scores[index][i]))
                
#     # Sort by similarity score
#     similar_items = sorted(similar_items, key=lambda x: x[1], reverse=True)[:5]

#     # Get book information and append to list
#     data = []
#     for i in similar_items:
#         item = []
#         temp_df = df_books[df_books['title'] == pt.index[i[0]]]
#         item.extend(list(temp_df.drop_duplicates('title')['title'].values))
#         item.extend(list(temp_df.drop_duplicates('title')['author'].values))
#         item.extend(list(temp_df.drop_duplicates('title')['image'].values))
#         data.append(item)

#     return data

In [22]:
# recommend('Java Programming Language')

In [23]:
# recommend('Introduction to Database Management System')

In [24]:
# def recommend(book_name, ascending = True, search_query = None):
#     # Fetch index of searched book
#     index = np.where(pt.index==book_name)[0][0]

#     # filter by search query if provided
#     if search_query:
#         search_result = [book for book in pt.index if search_query.lower() in book.lower()]
#         index = np.where(pt.index==search_result[0])[0][0]
    
#     # get similarity scores for the searched book
#     similarity_scores = cosine_similarity(pt.iloc[index:index+1], pt)[0]
    
#     # get the indices of the most similar books
#     similar_indices = np.argsort(similarity_scores)
#     if ascending:
#         similar_indices = similar_indices[:5]
#     else:
#         similar_indices = similar_indices[:-6:-1]
    
#     # create a list of recommended books
#     recommended_books = []
#     for i in similar_indices:
#         book_title = pt.index[i]
#         book_author = df_books[df_books['title'] == book_title]['author'].values[0]
#         book_image = df_books[df_books['title'] == book_title]['image'].values[0]
#         recommended_books.append([book_title, book_author, book_image])
    
#     return recommended_books

In [25]:
recommend('c programming')

NameError: name 'recommend' is not defined

In [26]:
# def recommend(book_name):
#     # Fetch index of searched book
#     index = np.where(pt.index.str.contains(book_name.lower()))[0][0]
    
# #     index = pt.index.str.contains(book_name.lower())
# #     if not any(index):
# #         return "No matching books found"
    
#     # Get similarity scores for all books
#     similarity_scores = cosine_similarity(pt[index])
    
# #     # filter by search query if provided
# #     if search_query:
# #         search_result = [book for book in pt.index if search_query.lower() in book.lower()]
# #         index = np.where(pt.index==search_result[0])[0][0]
    
#     # Get indices of similar books with same genre
#     similar_items = []
#     for i in range(similarity_scores.shape[0]):
#         # Check if book has same genre as searched book
#         if df_books.loc[df_books['title'] == pt.index[i], 'genre_id'].iloc[0] == df_books.loc[df_books['title'] == book_name, 'genre_id'].iloc[0]:
#             # Append index and similarity score to list
#             if i != index:
#                 similar_items.append((i, similarity_scores[index][i]))
                
#     # Sort by similarity score
#     similar_items = sorted(similar_items, key=lambda x: x[1], reverse=True)[:5]

#     # Get book information and append to list
#     data = []
#     for i in similar_items:
#         item = []
#         temp_df = df_books[df_books['title'] == pt.index[i[0]]]
#         item.extend(list(temp_df.drop_duplicates('title')['title'].values))
#         item.extend(list(temp_df.drop_duplicates('title')['author'].values))
#         item.extend(list(temp_df.drop_duplicates('title')['image'].values))
#         data.append(item)

#     return data

In [27]:
recommend('C Programming')

NameError: name 'recommend' is not defined

In [28]:
# #this for search in lower case searching

# def recommend(book_name):
#     # convert input book_name to lowercase
#     book_name = book_name.lower()
    
#     # index fetch
#     index = np.where(pt.index.str.lower() == book_name)[0][0]
#     similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
#     data = []
#     for i in similar_items:
#         item = []
#         temp_df = df_books[df_books['title'].str.lower() == pt.index[i[0]].lower()]
#         item.extend(list(temp_df.drop_duplicates('title')['title'].values))
#         item.extend(list(temp_df.drop_duplicates('title')['author'].values))
#         item.extend(list(temp_df.drop_duplicates('title')['image'].values))
        
#         data.append(item)
    
#     return data

In [29]:
# recommend('introduction to database management system')

In [30]:
# ## search for books with partial matches in the book title.
# def recommend(book_name):
#     # filter books with partial match
#     matches = pt.index[pt.index.str.contains(book_name, case=False)]

#     if len(matches) == 0:
#         return "No books found matching the search query."

#     data = []
#     for match in matches:
#         # index fetch
#         index = np.where(pt.index == match)[0][0]
#         similar_items = sorted(list(enumerate(similarity_scores[index])),
#                                key=lambda x: x[1], reverse=True)[1:5]

#         for i in similar_items:
#             item = []
#             temp_df = df_books[df_books['title'] == pt.index[i[0]]]
#             item.extend(list(temp_df.drop_duplicates('title')['title'].values))
#             item.extend(list(temp_df.drop_duplicates('title')['author'].values))
#             item.extend(list(temp_df.drop_duplicates('title')['image'].values))

#             data.append(item)

#     return data

In [31]:
# recommend('programming')

In [32]:
# recommend('java')

In [33]:
# recommend('c programming')

In [34]:
# def recommend(book_name):
#     # Fetch index of searched book
# #     index = np.where(pt.index==book_name)[0][0]
#     matches = pt.index[pt.index.str.contains(book_name, case=False)]

#     # Get similarity scores for all books
#     similarity_scores = cosine_similarity(pt)
    
#     # Get indices of similar books with same genre
#     similar_items = []
#     for i in range(similarity_scores.shape[0]):
#         # Check if book has same genre as searched book
#         if df_books.loc[df_books['title'] == pt.index[i], 'genre_id'].iloc[0] == df_books.loc[df_books['title'] == book_name, 'genre_id'].iloc[0]:
#             # Append index and similarity score to list
#             if i != index:
#                 similar_items.append((i, similarity_scores[index][i]))
                
#     # Sort by similarity score
# #     similar_items = sorted(similar_items, key=lambda x: x[1], reverse=True)[:5]

#     # Get book information and append to list
#     data = []
#     for match in matches:
#         # index fetch
#         index = np.where(pt.index == match)[0][0]
# #         similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x: x[1], reverse=True)[1:5]
#         similar_items = sorted(list(enumerate(similar_items[index])), key=lambda x: x[1], reverse=True)[:5]
    
#         for i in similar_items:
#             item = []
#             temp_df = df_books[df_books['title'] == pt.index[i[0]]]
#             item.extend(list(temp_df.drop_duplicates('title')['title'].values))
#             item.extend(list(temp_df.drop_duplicates('title')['author'].values))
#             item.extend(list(temp_df.drop_duplicates('title')['image'].values))

#             data.append(item)


#     return data

In [35]:
# recommend('C programming')

In [36]:
def recommend(book_name):
    # Fetch index of searched book
    index = np.where(pt.index.str.lower().str.contains(book_name.lower()))[0][0]

    # Get similarity scores for all books
    similarity_scores = cosine_similarity(pt)

    # Get indices of similar books with same genre
    similar_items = []
    for i in range(similarity_scores.shape[0]):
        # Check if book has same genre as searched book
        if df_books.loc[df_books['title'] == pt.index[i], 'genre_id'].iloc[0] == df_books.loc[df_books['title'] == pt.index[index], 'genre_id'].iloc[0]:
            # Append index and similarity score to list
            if i != index:
                similar_items.append((i, similarity_scores[index][i]))

    # Sort by similarity score
    similar_items = sorted(similar_items, key=lambda x: x[1], reverse=True)[:5]

    # Get book information and append to list
    data = []
    for i in similar_items:
        item = []
        temp_df = df_books[df_books['title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        item.extend(list(temp_df.drop_duplicates('title')['author'].values))
        item.extend(list(temp_df.drop_duplicates('title')['image'].values))
        data.append(item)

    return data

In [38]:
recommend('programming')

[['Fundamentals of Computer Networks',
  'Matthew N. O. Sadika, Cajetan M. Akujuobi',
  'book_image/n20.jpeg'],
 ['Computer Networking Beginners Guide',
  'Kevin Morgan',
  'book_image/n13.jpeg'],
 ['Computer Networks',
  'Andrew S. Tanenbaum, Nick Feamster',
  'book_image/n16.jpeg'],
 ['The Complete Reference', 'PHP', 'book_image/p20.jpeg'],
 ['A Text Book of Computer Networks', 'Sanjay Sharma', 'book_image/n3.jpeg']]